@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
body {
    margin: 0;
    width: 100vw;
    box-sizing:border-box;
    resize: none; 
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    scroll-behavior: smooth;
    --bg-color: white;
    --sub-color: #d00000;
    background-color: var(--bg-color);
    overflow-x: hidden;
}
.home-section {
    width: 100vw;
    height: 100vh;
}
.nav {
    position: absolute;
    background-color: black;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 7rem;
    display: flex;
    z-index: 4;
}
.logo {
    font-family: 'Josefin Sans';
    font-weight: 900;
    font-size: 3rem;
    position: absolute;
    color: white;
    left: 2rem;
    cursor: pointer;
}
.logo::after {
    color: var(--sub-color);
    content: 'Cases';
    margin-left: 1rem;
    font-family: 'Josefin Sans';
    font-weight: 900;
}
.swiper {
    width: 600px;
    height: 300px;
}
.swiper-slide {
    width: 100%;
    height: 100%;
}
.slider-image{
    filter:brightness(50%);
    width: 105vw;
    height: 100vh;
    object-fit: cover;
}
.text-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text-wrapper-2 {
    left: 0;
    top: 0;
}
.title {
    line-height: 0;
    position: relative;
    font-size: 6rem;
    font-family: 'Montserrat';
    font-weight: 900;
    color: white;
    z-index: 4;
}
.title-4 {
    margin-top: -3rem;
    font-size: 4rem;
}
.title-after::after {
    margin-left: 1rem;
    content: 'Cases';
    line-height: 0;
    position: relative;
    font-size: 6rem;
    font-family: 'Montserrat';
    font-weight: 900;
    color: var(--sub-color);
    z-index: 4;
}
.sub-title {
    margin-top: -0.5rem;
    position: relative;
    font-size: 2rem;
    font-family: 'Montserrat';
    font-weight: 900;
    color: white;
    z-index: 4;
}
.action-button {
    position: relative;
    margin-top: 4rem;
    outline: none;
    font-family: 'Montserrat';
    border: none;
    color: black;
    border-radius: 7px;
    padding: 0.8rem 3rem;
    font-size: 2rem;
    font-weight: 900;
    background-color: white;
    background:linear-gradient(to left, rgb(255, 255, 255) 50%, var(--sub-color) 50%) right;
    background-size: 300% 100%;
    background-position: right bottom;
    transition: 1s ease-out;
    cursor: pointer;
    text-decoration: none;
    display: block;
}
.action-button:hover {
    background-color: white;
    background-position: left bottom;
    color: white;
}
.links {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    right: 0;
    width: 100vw;
    height: 6rem;
}
.link {
    list-style-type: none;
    margin-right: 5vw;
    font-weight: 700;
    font-family: 'Josefin Sans';
    font-size: 1.5rem;
    cursor: pointer;
}
li {
    list-style-type: none;
}
 .a:hover {
    color: var(--sub-color);
    transition: .2s ease-out;
}
 .a{
    text-decoration: none;
    transition: .5s ease-out;
    color: white;
}
.a2 {
    text-decoration: none;
    transition: .5s ease-out;
    color: var(--sub-color);
}
.a2:hover {
    color: white;
}
.a1{
    text-decoration: none;
    transition: .5s ease-out;
    color: white;
    cursor: pointer;
}
.newspaper {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    font-family: 'Josefin Sans';
    outline: none;
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    border: none;
    width: 100%;
    height: 100%;
    outline: 1px solid white;
    color: white;
    background-color: transparent;
}
.newspaper-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 3rem;
    position: absolute;
}
.newspaper::placeholder {
    margin-top: 1rem;
    color: white;
    font-weight: 700;
}
.newspaper:focus {
    outline: 1px solid var(--sub-color);
}
.submit-email {
    margin-top: 2rem;
    cursor: pointer;
    position: absolute;
    font-size: 2.3rem;
    right: 0;
    top: 50%;
    z-index: 5;
    cursor: pointer;
    transform: translateY(-50%);
    color: var(--sub-color);
}
.products-wrapper {
    width: 100vw;
    height:fit-content;
    overflow: hidden;
    position: absolute;
    top: 20%;
    display: grid;
    gap: 2rem;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-template-rows: repeat(8, 1fr);
}
.product {
    margin: 2rem;
    box-shadow: 0 0 4px 2px rgb(0, 0, 0, 0.2);
    transition: scale 400ms ease-in;
    cursor: pointer;
}
.product:hover {
    transition: scale 400ms ease-in;
    scale: 1.03;
}
.product-title {
    font-family: 'Josefin Sans';
    font-weight: 600;
    color: var(--sub-color);
    font-size: 1.3rem;
}
.product-info {
    display: flex;
    width: 100%;
    margin-top: -0.2rem;
    align-items: center;
    position: relative;
    justify-content: space-around;
    height: 5rem;
    flex-direction: row;
}
.price {
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 1.2rem;
    color: black;
}
.product-image {
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.contact-wrapper {
    width: 100vw;
    height: calc(100vh - 7rem);
    position: absolute;
    top: 7rem;
    display: grid;
    place-items: center;
}
.explain-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 0;
    width: 100vw;
    height: 12rem;
    font-family: 'Montserrat';
}
.contact-title {
    margin-top: 4rem;
    line-height: 0;
    position: relative;
    font-family: 'Montserrat';
    font-size: 4rem;
    font-weight: 900;
}
.explain-contact {
    margin-top: -0.3rem;
    position: relative;
    font-family: 'Montserrat';
    font-size: 1.3rem;
    font-weight: 500;
}
.contact-form {
    position: absolute;
    bottom: 1rem;
    width:fit-content;
    height: 50vh;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans';
}
.form-name {
    font-size: 1rem;
    width: 40vw;
    height: 3rem;
    border: none;
    outline: none;
    padding-left: 1rem;
    font-family: 'Josefin Sans';
    border-radius: 5px;
    border: 2px solid black;
}
.form-email {
    font-size: 1rem;
    width: 40vw;
    padding-left: 1rem;
    height: 3rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: 'Josefin Sans';
    border: 2px solid black;
}
.form-message {
    font-size: 1rem;
    width: 40vw;
    padding-left: 1rem;
    padding-top: 1rem;
    height: 13rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    font-family: 'Josefin Sans';
    border-radius: 5px;
    border: 2px solid black;
    resize: none;
}
.form-message::placeholder, .form-email::placeholder, .form-name::placeholder {
    font-size: 1rem;
    font-family: 'Josefin Sans';
}
.form-message:focus, .form-email:focus, .form-name:focus {
    border-color: var(--sub-color);
}
.submit-button {
        position: relative;
        margin-top: 1rem;
        outline: none;
        font-family: 'Montserrat';
        border: none;
        color: white;
        border-radius: 7px;
        font-size: 1.9rem;
        padding: 0.5rem 0;
        font-weight: 900;
        background-color: black;
        background:linear-gradient(to left, rgb(0 0 0) 50%, var(--sub-color) 50%) right;
        background-size: 300% 100%;
        background-position: right bottom;
        transition: 1s ease-out;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
    
}
.submit-button:hover {
        background-color: white;
        background-position: left bottom;
        color: white;
    }
 .hamburger {
        border: 0;
        height: 40px;
        width: 40px;
        padding: 0.5rem;
        border-radius: 50%;
        background-color: var(--sub-color);
        cursor: pointer;
        position: absolute;
        top: 45%;
        right: 25px;
        transform: translateY(-50%);
        display: none;
      }

@media (max-width: 1310px) {
    .link {
        font-size: 1.2rem;
    }
}

@media (max-width: 1158px) {
    .link {
        font-size: 1rem;
    }
}
@media (max-width: 1055px) {
        
    .hamburger {
        display: block;
        z-index: 5;
    }
    ul.links {
        display: none;
        position: absolute;
        top: -1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:50vw;
        transition: right 1s ease-in;
        height: 100vh;
        background-color: white;
        
      }
      .links li {
        text-align: center;
        margin: 0;
        font-size: 1.5rem;
      }
      .links li .a, .links li .a2 {
        color: black;
        width: 100%;
        padding: 1.5rem 0;
        display: inline-block;
        border-bottom: 1px solid black;
      }
      .links li .a:hover, .links li .a2 {
        color: var(--sub-color);
        border-color: var(--sub-color);
      }
      
    .links.expanded  {
        display: flex;
      }
}

@media (max-width: 951px) {
    .title-3 {
        font-size: 4rem;
    }
    .action-3 {
        scale: 0.85;
    }
    .title-4 {
        font-size: 3rem
    }
}
@media (max-width: 760px) {
    .title-1 {
        font-size: 4rem;
    }
    .title-1:after {
        font-size: 4rem;
    }
    .sub-title {
        font-size: 1.7rem;
    }
    .action-1 {
        scale: 0.85;
    }
    .title-2 {
        font-size: 4rem;
    }
    .action-2 {
        scale: 0.85;
    }
}
@media (max-width: 692px) {
    .title-3 {
        font-size: 3rem;
    }
    .action-3 {
        scale: 0.70;
    }
    .title-4 {
        font-size: 2rem
    }
    .newspaper-wrapper {
        height: 2.5rem;
        width: 70vw;
    }
}
@media (max-width: 620px) {
    .title-1 {
        font-size: 3rem;
    }
    .title-1:after {
        font-size: 3rem;
    }
    .sub-title {
        font-size: 1.4rem;
    }
    .action-1 {
        scale: 0.7;
    }
    .title-2 {
        font-size: 3rem;
    }
    .action-2 {
        scale: 0.7;
    }
}
@media (max-width: 520px) {
    .links li {
        font-size: 1rem;
    }
}
@media (max-width: 478px) {
    .logo, .logo::after {
        font-size: 2.4rem;
    }
    .hamburger {
        width: 30px;
        height: 30px;
    }
    .title-3 {
        font-size: 2.3rem;
    }
    .action-3 {
        scale: 0.55;
    }
    .title-4 {
        font-size: 1.6rem
    }
    .newspaper-wrapper {
        height: 2rem;
        width: 80vw;
    }
    .newspaper{
        font-size: 1rem;
    }
    .submit-email {
        font-size: 1.6rem
    }
}
@media (max-width: 385px) {
    .logo, .logo::after {
        font-size: 2rem;
    }
    .title-1 {
        font-size: 2.5rem;
    }
    .title-1:after {
        font-size: 2.5rem;
    }
    .sub-title {
        font-size: 1.2rem;
    }
    .action-1 {
        scale: 0.6;
    }
    .title-2 {
        font-size: 2.5rem;
    }
    .action-2 {
        scale: 0.6;
    }
}

@media (max-width: 440px) {
    .products-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 822px) {
    .explain-contact {
        font-size: 1rem;
    }
    .contact-title {
        font-size: 3rem;
    }
}
@media (max-width: 556px) {
    .explain-contact {
        font-size: 0.7rem;
    }
    .contact-title {
        font-size: 2.5rem;
    }
}
@media (max-width: 389px) {
    .explain-contact {
        font-size: 0.5rem;
    }
    .contact-title {
        font-size: 2.2rem;
    }
}